
body {
    line-height: 2;
    border: 75px solid;
    background-image: url("https://images6.alphacoders.com/849/thumb-1920-849501.jpg")
    
}

#directions {
    border: 10px solid rgba(255, 174, 0, 0.988);
    float: left;
    height: 200px;
    width: 550px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}

.para {
    line-height: 25px;
}


#buttonsLeft {
    float: right;
    border: 10px solid black;
    
}
#buttonRight {
    float: right;
    border: 10px solid black;
    clear: both;
}

#wholeGame {
    width: 1050px;
    height: 850px;
    padding: 20px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

.border {
    border-style: solid;
    border-width: 5px;
    border-color:black;
    height: 100px;
}


#randomNumber {
    border: 20px solid black;
    background: white;
    width: 300px;
    height: 150px;
    float: left;
    clear: both;
    font-family: cursive;
    font-size: 30;
    color: darkgreen;
    line-height: 2;

}

#userNumber {
    border: 20px solid black;
    background: white;
    width: 300px;
    height: 150px;
    float: left;
    clear: both;
    margin-top: 20px;
    font-family: cursive;
    font-size: 30;
    color: darkgreen;
    line-height: 2;
}

#winLoss {
    float: right;
    border: 20px solid black;
    background: white;
    width: 300px;
    height: 150px;
    margin-top: 20px;
    font-family: cursive;
    font-size: 20px;
    color: darkgreen;
    line-height: 30px;

    
}


